NEXT_PUBLIC_API_URL=http://localhost:8000

# Firebase Authentication
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDSrxW4DeiniZbHy7woKQK4aQMYCkRD6o0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tendai-reporting-133ac.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=tendai-reporting-133ac
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tendai-reporting-133ac.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=682839704387
NEXT_PUBLIC_FIREBASE_APP_ID=1:682839704387:web:af34154e1fec24622165f6
